.modalContainer {
  top: 25vw;
  left: 0;
  position: absolute;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: -1;
  transition: 0.6s;
}

.modal {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  width: 50vw;
  border-radius: 15px;
  border: 1px solid #fff;
  padding: 50px;
  background-color: rgb(81, 89, 90);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.modalTitle {
  font-size: 2.5vw;
  text-align: center;
}

.modalContent {
  font-size: 1.5vw;
  text-align: center;
  margin: 2vw;
}

.cerrarModal {
  align-self: flex-end;
  margin-top: -45px;
  margin-right: -45px;
}

.mostrar {
  z-index: 3;
  transition: 0.6s;
  opacity: 1;
}

@media screen and (max-width: 960px) {
  .modalContainer {
    top: 0;
    height: 100%;
  }

  .modal {
    width: 75vw;
  }

  .modalTitle {
    font-size: 3.5vw;
  }

  .modalContent {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 480px) {
  .modalContainer {
    top: 0;
    height: 110%;
  }

  .modal {
    width: 80vw;
  }

  .modalTitle {
    font-size: 5vw;
  }

  .modalContent {
    font-size: 4vw;
  }

  .cerrarModal {
    margin-top: -15px;
    margin-right: -15px;
  }

  .modal {
    padding: 20px;
  }
}
