.botones {
  top: 0;
  top: 15vw;
  left: 0;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  opacity: 1;
}

.correr {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  padding: 5px 15px;
  font-size: 2.5vw;
  border: none;
  background-color: #288a7590;
  background-color: rgba(40, 137, 137, 0.558);
  position: absolute;
  z-index: 1;
  transition: 0.3s;
  top: 35vw;
}

.noCorrer {
  display: none;
}

.alante {
  margin-left: 85vw;
}

.atras {
  margin-left: 10vw;
}

.mostrar1 {
  animation: forwards mostrar1 0.6s ease-in;
}

.mostrar2 {
  animation: forwards mostrar2 0.6s ease-in;
}

@keyframes mostrar1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mostrar2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slider__content {
  margin: 0 12.5vw;
  overflow: hidden;
}

.correr:hover {
  color: rgb(30, 180, 180);
  background-color: #fff;
  transform: scale(1.3);
}

.cards {
  overflow: hidden;
  width: 75vw;
  display: flex;
  justify-content: center;
  justify-items: center;
  transition: 0.5s;
  margin-top: 30px;
  margin-bottom: 100px;
}

.card__container{
  margin: 0 5vw;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  z-index: 6;
  width: 26vw;
  height: 20vw;
  border: 2px solid rgb(30, 180, 180);
  border-radius: 15px;
}

.card__title {
  font-size: 3vw;
}

.card__button {
  cursor: pointer;
  font-size: 1.5vw;
  color: #fff;
  border: 2px solid rgb(30, 180, 180);
  background: none;
  border-radius: 10px;
  padding: 5px 10px;
  transition: 0.3s;
}

.card__button:hover {
  background-color: #fff;
  color: rgb(30, 180, 180);
  scale: 1.2;
}

@media screen and (max-width: 960px) {
  .correr {
    font-size: 3.5vw;
    top: 45vw;
  }

  .card {
    width: 30vw;
    height: 26vw;
  }

  .card__title {
    font-size: 4vw;
  }

  .card__button {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 480px) {
  .botones {
    height: 0;
  }

  .oculto {
    height: 90%;
  }

  .correr {
    font-size: 8vw;
    top: 85vw;
  }

  .card {
    width: 40vw;
    height: 35vw;
  }

  .card__title {
    font-size: 5vw;
  }

  .card__button {
    font-size: 3.5vw;
  }
}
