/* la primera section */
.primero {
  background: url("assets/img322.jpg");
  background-position: center;
  background-size: cover;
}

.cortina {
  width: 100%;
  background-color: rgba(30, 28, 28, 0.6);
  display: flex;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 180px 0 180px 50px;
  color: #fff;
}

.primero__svg {
  align-self: center;
}

.primero__svg svg {
  width: 50vw;
  animation: backwards yphan 0.8s;
}

.primero__content {
  transition: all 0.5s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.primero__title {
  font-family: "Times New Roman", Times, serif;
  font-size: 5vw;
  animation: backwards yphan 1.2s;
}

.primero__subtitle {
  font-size: 3.5vw;
  animation: backwards yphan 1.3s;
}

.primero__text {
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  animation: backwards yphan 1.4s;
}

.primero__button {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 3vw;
  background-color: rgba(27, 148, 178, 0.47);
  background: #25a6a680;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
  animation: backwards yphan 1.5s;
}

.primero__button:hover {
  color: rgb(31, 139, 139);
  color: #1c8a8a;
  background-color: rgba(255, 255, 255, 0.597);
  background-color: #ffffff80;
  transform: scale(1.2);
}

/* el responsive de la primera seccion */
@media screen and (max-width: 960px) {
  .primero__content {
    justify-content: center;
    gap: 100px;
  }

  .primero__title {
    font-size: 10vw;
  }

  .primero__subtitle {
    font-size: 5.5vw;
  }

  .primero__text {
    font-size: 3.5vw;
  }

  .primero__button {
    font-size: 4vw;
  }
}

@media screen and (max-width: 480px) {
  .primero__svg {
    display: none;
  }

  .cortina {
    padding: 80px 10px;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .primero__content {
    gap: 100px;
  }

  .primero__title {
    font-size: 20vw;
  }

  .primero__subtitle {
    font-size: 8vw;
  }

  .primero__text {
    font-size: 4.3vw;
  }

  .primero__button {
    font-size: 6vw;
  }
}

/* los estilos de quienes somos  */

.ksomos {
  color: #fff;
  background-color: rgb(52, 80, 87);
  font-family: Arial, Helvetica, sans-serif;
  padding: 2vw 3vw;
}

.ksomos__title {
  text-align: center;
  font-size: 4vw;
  padding: 1vw;
  padding-top: 2vw;
}

.ksomos__subtitle b {
  font-family: "Times New Roman", Times, serif;
}

.ksomos__subtitle {
  font-size: 1.5vw;
}

.klista {
  padding: 1vw;
  margin-left: 20px;
}

.klista__elemento {
  padding: 5px 0;
  font-size: 1.3vw;
}

.dos {
  padding: 0 1vw;
  margin-left: 30px;
}

.dos .klista__elemento {
  padding: 5px 0;
  font-size: 1.2vw;
}

.kcards {
  display: flex;
  margin-top: 2vw;
}

.card__container {
  width: 40%;
}

.kcards .card {
  margin: 2%;
  padding: 0 20px;
  border-radius: 15px;
  border-top: 2px solid rgb(30, 180, 180);
  border-bottom: none;
}

.card__title {
  text-align: center;
}

.card__content {
  padding: 5%;
  padding-top: 7%;
}

/* el responsive de ksomos */

@media screen and (max-width: 960px) {
  .ksomos__title {
    font-size: 6vw;
  }

  .ksomos__subtitle {
    font-size: 2.5vw;
  }

  .klista__elemento {
    font-size: 2vw;
  }

  .dos .klista__elemento {
    font-size: 1.9vw;
  }
}

@media screen and (max-width: 480px) {
  .ksomos__title {
    font-size: 8vw;
  }

  .ksomos__subtitle {
    font-size: 3.5vw;
  }

  .klista__elemento {
    font-size: 3.5vw;
  }

  .dos .klista__elemento {
    font-size: 3.4vw;
  }

  .kcards{
    flex-direction: column;
  }

  .card__container{
    width: 100%;
  }
}

/* la section de servicios */

.servicios {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: rgb(81, 89, 90);
}

.servicios *{
  margin-top: 2%;
}

.servicios__titles {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.servicios__title {
  font-size: 4vw;
}

.servicios__subtitle {
  font-size: 1.2vw;
  text-align: center;
}

.servicios__content {
  display: flex;
}

.servicios__content *{
  margin: 0 1%;
}

.servicios .card {
  width: 100%;
}

.card__img svg {
  width: 100%;
}

.card__title {
  font-size: 2vw;
}

.card__content {
  font-size: 1.2vw;
}

.servicios a {
  text-decoration: none;
  color: #fff;
}

.servicios__button {
  border: none;
  color: #fff;
  background-color: rgba(30, 28, 28, 0.4);
  border-radius: 15px;
  font-size: 3vw;
  padding: 5px;
  transition: 0.3s;
}

.servicios__button:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.597);
  transform: scale(1.2);
}

/* el responsive de la seccion de srvicios */

@media screen and (max-width: 960px) {
  .servicios__content {
    grid-template-columns: 1fr 1fr;
  }

  .servicios__title {
    font-size: 6.5vw;
  }

  .servicios__subtitle {
    font-size: 2.5vw;
  }

  .small {
    height: 100%;
  }

  .card__title {
    font-size: 4vw;
  }

  .card__content {
    font-size: 2.2vw;
  }

  .div__button {
    display: flex;
    align-items: end;
    flex-direction: row-reverse;
  }

  .servicios__button {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 480px) {
  .smaall {
    height: 100%;
  }

  .servicios {
    padding-left: 20px;
    padding-right: 20px;
  }

  .servicios__content {
    flex-direction: column;
  }

  .servicios__title {
    font-size: 8.5vw;
    text-align: end;
  }

  .servicios__subtitle {
    font-size: 4vw;
    text-align: start;
  }

  .card {
    margin-top: 50px;
  }

  .small {
    height: 100%;
  }

  .card__title {
    font-size: 5.5vw;
  }

  .card__content {
    font-size: 4vw;
  }

  .div__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .servicios__button {
    font-size: 6vw;
  }
}

/* los estios de las seccion de informacion */
.informacion {
  color: #fff;
  background-color: rgb(30, 28, 28);
  display: flex;
  padding: 80px 0px 80px 80px;
  gap: 30px;
}

.informacion__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.informacion__title {
  font-size: 5vw;
}

.med {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
}

.inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.inf *{
  margin-top: 30px;
}

.informacion__tel,
.informacion__gmail {
  color: #fff;
  background: none;
  border: #fff solid 2px;
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 2vw;
}

.informacion__img {
  margin-right: 3vw;
  width: 42vw;
}

@media screen and (max-width: 960px) {
  .informacion__imagen {
    display: none;
  }

  .informacion {
    grid-template-columns: 1fr;
    padding: 80px 50px;
  }

  .informacion__title {
    font-size: 7vw;
  }

  .informacion__content {
    grid-template-rows: 0.7fr 1fr 1fr;
  }

  .informacion__promo {
    margin: 50px 0;
    font-size: 2.8vw;
  }

  .informacion__tel,
  .informacion__gmail {
    font-size: 3vw;
  }

  .inf {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .informacion {
    padding: 40px 20px;
  }

  .informacion__content {
    grid-template-rows: 0.5fr 1fr 0.8fr;
  }

  .informacion__title {
    text-align: center;
    font-size: 8.5vw;
  }

  .informacion__promo {
    font-size: 4vw;
  }

  .informacion__tel,
  .informacion__gmail {
    font-size: 4.5vw;
  }
}
