/* los estios del main */

.oculto {
  position: absolute;
  background-color: #000000c9;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 480px) {
  .subir {
    z-index: 2;
  }
}

/* la primera section */
.primero {
  background: url("assets/img322.jpg");
  background-position: center;
  background-size: cover;
}

.cortina {
  width: 100%;
  background-color: rgba(30, 28, 28, 0.6);
  display: grid;
  padding: 180px 0 180px 50px;
  grid-template-columns: 2.5fr 1fr;
  color: #fff;
}

.primero__svg {
  align-self: center;
}

.primero__svg svg {
  width: 50vw;
  animation: backwards yphan .8s;
}

.primero__content {
  transition: all 0.5s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.primero__title {
  font-family: "Times New Roman", Times, serif;
  font-size: 5vw;
  animation: backwards yphan 1.2s;
}

.primero__subtitle {
  font-size: 3.5vw;
  animation: backwards yphan 1.3s;
}

.primero__text {
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  animation: backwards yphan 1.4s;
}

.primero__button {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 3vw;
  background: #25a6a680;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
  animation: backwards yphan 1.5s;
}

.primero__button:hover {
  color: #1c8a8a;
  background-color: #ffffff80;
  transform: scale(1.2);
}

/* el responsive de la primera seccion */
@media screen and (max-width: 960px) {
  .primero__content {
    justify-content: center;
    gap: 100px;
  }

  .primero__title {
    font-size: 10vw;
  }

  .primero__subtitle {
    font-size: 5.5vw;
  }

  .primero__text {
    font-size: 3.5vw;
  }

  .primero__button {
    font-size: 4vw;
  }
}

@media screen and (max-width: 480px) {
  .primero__svg {
    display: none;
  }

  .cortina {
    padding: 80px 10px;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .primero__content {
    gap: 100px;
  }

  .primero__title {
    font-size: 20vw;
  }

  .primero__subtitle {
    font-size: 8vw;
  }

  .primero__text {
    font-size: 4.3vw;
  }

  .primero__button {
    font-size: 6vw;
  }
}

/* los estilos de la segunda section */

.servicios {
  display: grid;
  grid-template-rows: 1.5fr 5fr 0.6fr;
  padding: 10px 50px;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: rgb(81, 89, 90);
}

.servicios__titles {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.servicios__title {
  font-size: 4vw;
}

.servicios__subtitle {
  font-size: 1.2vw;
  text-align: center;
}

.servicios__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.servicios .card {
  width: 100%;
}

.card__img svg {
  width: 100%;
}

.card__title {
  font-size: 2vw;
}

.card__content {
  font-size: 1.2vw;
}

.servicios a {
  text-decoration: none;
  color: #fff;
}

.servicios__button {
  border: none;
  color: #fff;
  background-color: rgba(30, 28, 28, 0.4);
  border-radius: 15px;
  font-size: 3vw;
  padding: 5px;
  transition: 0.3s;
}

.servicios__button:hover {
  color: #000;
  background-color: #ffffff80;
  transform: scale(1.2);
}

/* el responsive de la seccion de srvicios */

@media screen and (max-width: 960px) {
  .servicios__content {
    grid-template-columns: 1fr 1fr;
  }

  .servicios__title {
    font-size: 6.5vw;
  }

  .servicios__subtitle {
    font-size: 2.5vw;
  }

  .small {
    height: 100%;
  }

  .card__title {
    font-size: 4vw;
  }

  .card__content {
    font-size: 2.2vw;
  }

  .div__button {
    display: flex;
    align-items: end;
    flex-direction: row-reverse;
  }

  .servicios__button {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 480px) {
  .smaall {
    height: 100%;
  }

  .servicios {
    padding-left: 20px;
    padding-right: 20px;
  }

  .servicios__content {
    grid-template-columns: 1fr;
  }

  .servicios__title {
    font-size: 8.5vw;
    text-align: end;
  }

  .servicios__subtitle {
    font-size: 4vw;
    text-align: start;
  }

  .card {
    margin-top: 50px;
  }

  .small {
    height: 100%;
  }

  .card__title {
    font-size: 5.5vw;
  }

  .card__content {
    font-size: 4vw;
  }

  .div__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .servicios__button {
    font-size: 6vw;
  }
}

/* los estilos de la seccion de cursos */
.cursos {
  background-image: url(assets/img339.jpg);
  background-position: center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.padre {
  padding: 10px 50px;
  background-color: rgba(30, 28, 28, 0.6);
  color: #fff;
  display: grid;
  grid-template-rows: 2fr 3fr 1.5fr;
}

.cursos__titles {
  padding: 50px 0;
}

.cursos__title {
  font-size: 4vw;
  padding-left: 150px;
}

.cursos__subtitle {
  font-size: 1.5vw;
  text-align: center;
}

.cursos__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.cursos .card {
  color: rgb(30, 28, 28);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #cac8c8;
  padding: 0 20px;
  box-shadow: cyan 0px 0px 5px 1px;
}

.card__button {
  border: none;
  border-radius: 15px;
  color: #fff;
  background-color: #000;
  font-size: 2vw;
  padding: 5px 10px;
  align-self: center;
  transition: 0.3s;
}

.cursos .card__button:hover {
  color: #000;
  background-color: #fff;
  transform: scale(1.2);
}

.button__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.cursos__button {
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background: none;
  color: #fff;
  font-size: 3vw;
  transition: 0.3s;
}

.cursos__button svg {
  transition: 0.3s;
  fill: #fff;
  height: 100px;
  width: 100px;
}

.cursos__button:hover {
  font-size: 3.3vw;
  justify-content: space-around;
  transform: scale(1.2);
}

.cursos__button svg:hover {
  transform: translateX(20px);
  transform: scale(1.2);
}

/* el responsive de los cursos */

@media screen and (max-width: 960px) {
  .padre {
    grid-template-rows: 0.05fr 1fr 0.2fr;
  }

  .cursos__title {
    text-align: center;
    padding: 0;
    font-size: 7vw;
  }

  .cursos__subtitle {
    font-size: 2.5vw;
  }

  .cursos__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .cursos .card {
    text-align: center;
    padding: 30px;
    width: 60%;
  }

  .card__button {
    margin: 50px;
    font-size: 3.5vw;
  }

  .cursos__button {
    font-size: 5vw;
  }

  .cursos__button:hover {
    font-size: 5.6vw;
  }

  .der {
    margin-left: 40%;
  }
}

@media screen and (max-width: 480px) {
  .padre {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cursos .card {
    width: 100%;
    margin: 0;
  }

  .der {
    margin-left: 0;
  }

  .cursos .card__title {
    font-size: 7vw;
  }

  .card button {
    font-size: 5vw;
  }

  .cursos__title {
    padding: 10px 0;
    text-align: center;
    font-size: 9vw;
  }

  .cursos__subtitle {
    font-size: 4vw;
  }

  .cursos__button {
    font-size: 6vw;
    padding: 0;
    margin: 0;
    align-self: center;
  }

  .cursos__button:hover {
    font-size: 6vw;

  }
}

/* los estios de las seccion de informacion */
.informacion {
  color: #fff;
  background-color: rgb(30, 28, 28);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 0px 80px 80px;
  gap: 30px;
}

.informacion__content {
  display: grid;
  grid-template-rows: 1fr 0.8fr 1fr;
  justify-content: space-around;
  /* align-items: center; */
}

.informacion__title {
  font-size: 5vw;
}

.med {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
}

.inf {
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.informacion__tel,
.informacion__gmail {
  color: #fff;
  background: none;
  border: #fff solid 2px;
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 2vw;
}

.informacion__img {
  width: 42vw;
}

@media screen and (max-width: 960px) {
  .informacion__imagen {
    display: none;
  }

  .informacion {
    grid-template-columns: 1fr;
    padding: 80px 50px;
  }

  .informacion__title {
    font-size: 7vw;
  }

  .informacion__content {
    grid-template-rows: 0.7fr 1fr 1fr;
  }

  .informacion__promo {
    margin: 50px 0;
    font-size: 2.8vw;
  }

  .informacion__tel,
  .informacion__gmail {
    font-size: 3vw;
  }

  .inf {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .informacion {
    padding: 40px 20px;
  }

  .informacion__content {
    grid-template-rows: 0.5fr 1fr 0.8fr;
  }

  .informacion__title {
    text-align: center;
    font-size: 8.5vw;
  }

  .informacion__promo {
    font-size: 4vw;
  }

  .informacion__tel,
  .informacion__gmail {
    font-size: 4.5vw;
  }
}