/* los estilos de la section cursos */

.cursos {
  font-family: Arial, Helvetica, sans-serif;
  background: url("../assets/cursos.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}

.padre {
  padding-top: 5vw;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.79);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cursos__title {
  font-size: 6vw;
  margin: 50px 3.5vw;
  animation: backwards yphan 1s;
}

.cursos__subtitle {
  font-size: 1.3vw;
  margin: 2vw 4vw;
  animation: backwards yphan .8s;
}

/* los estilos del extra */

.extra {
  padding: 5vw 3vw;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: rgb(81, 89, 90);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2vw;
}

.extra__title {
  animation: backwards yphan .8s;
  font-size: 3.5vw;
  margin-bottom: 2vw;
}

.extra__content {
  animation: backwards yphan 1s;
  font-size: 1.7vw;
}

.inf {
  animation: backwards yphan 1.2s;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1.5vw;
  font-size: 1.6vw;
}



@media screen and (max-width: 960px) {

  /* los cursos */
  .cursos__title {
    font-size: 8vw;
    margin: 30px 3.5vw;
  }

  .cursos__subtitle {
    font-size: 2vw;
  }

  /* el responsive del extra */

  .extra__title {
    font-size: 5vw;
  }

  .extra__content,
  .inf {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 480px) {
/* los cursos */

  .cursos__title {
    font-size: 11vw;
  }

  .cursos__subtitle {
    font-size: 3vw;
  }

  /* el extra */

  .extra__title {
    font-size: 6vw;
  }

  .inf,
  .extra {
    gap: 5vw;
  }

  .extra__content,
  .inf {
    font-size: 4vw;
  }

  .inf__button {
    font-size: 5vw;
  }
}
